:root{
    --azul: #079ad9;
}

#logotipoNavbar{
    height: 50px;
}

#barra{
    background: #555555;
    color: white;
    overflow: hidden;
}

.buscador{
    width: 30vw;
}

#textoBarra a{
    color: white;
}

@media screen and (max-width: 767px) {
    #btnBuscar {
      width: 100%;
      text-align: center;
    }
  }

#menuBusqueda{
    margin: 2px auto;
    width: 600px;
    height: 46px;
    top: 9px;
    background: #F2F1F1;
    border-radius: 15px;
}

.menuHamburguesa{
    height: 80px;
    box-shadow: 7px 8px 20px rgba(0, 0, 0, 0.46);
}

#preguntasFrecuentes{
    display: flexbox;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 7px 8px 20px rgba(0, 0, 0, 0.46);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#preguntasFrecuentes h4,p{
    margin-left: 15px;
}

#imagenNutreT{
    width: 60px;
    height: 60px;
}

#acordeonQA{
    display: block;
    border: none;
}

#botonCollapse{
    background-color: #dcdbdb;
    border: none;
    border-radius: 10px;
}

#item{
    border: none;
}

.datosNutriologos{
    background-color: #dcdbdb;
    border-radius: 12px;
    padding-top: 10px;
}

.fotoUsuario{
    width: 100%;
    margin: 3px auto;
}

.sucursal, .negritas{
    font-weight: 800;
}

.menuHamburguesaNutriologos{
    box-shadow: 7px 8px 20px rgba(0, 0, 0, 0.46);
}

.titulos{
    color: #5FA466;
    margin-top: 25px;
}

.inputPerfil{
    width: 100%;
    margin-bottom: 10px;
}

.perfil label{
    font-weight: 800;
}

#ache{
    border: 2px solid rgb(0, 77, 15);
    background-color: rgb(0, 77, 15) ;
}

#sabiasQue{
    box-shadow: 7px 8px 20px rgba(0, 0, 0, 0.46);
    border-radius: 30px;
    border: none;
    background-color: beige;
}

.boton{
    width: auto;
}

.nombreNutriologo{
    font-size: 1.3em;
}

#listaMedicos{
    margin-bottom: 50px;
}

.datosPacientes{
    background-color: #dcdbdb;
    border-radius: 12px;
    padding-top: 10px;
}

.resumenModal{
    background-color: #D7D3CB;
    padding-right: 15px;
    padding-top: 15px;
    border-radius: 5px;
}

.cantidad{
    color: #5FA466;
    text-align: right;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-container {
    position: relative;
    width:  7rem;
    margin: 0.5rem;
}

.radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
}

.radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid var(--azul);
    border-radius: 5px;
    padding: 1rem;
    transition: transform 300ms ease;
}
    
.radio-tile-label {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--azul);
}

.radio-button:checked + .radio-tile {
    background-color: var(--azul);
    border: 2px solid var(--azul);
    color: white;
    transform: scale(1.1, 1.1);
}

.radio-tile-label {
    color: black;
}
